@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

:root {
    --color0: #003087;
    --color1: #0072ce;
    --color2: #caf0f8;
    --color3: #ffa07a;
    --color4: #ff7f50;
    --color5: #393939;
    --color6: #fff;
    --font1: "Orbitron";
    --font2: "Sofia";
}

.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -8px -8px;
}
.login-container {
    height: 100%;
    width: 100%;
    background-image: url("./assets/login-background.gif");
    display: flex;
    justify-content: center;
    align-items: center;
}
.login {
    width: 55%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    gap: 5%;
}
.login div {
    width: 100%;
    height: 100%;
}
.login .logo img {
    aspect-ratio: 1/1;
    height: 50vh;
    border-radius: 100%;
}
.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 70%;
}
