/* sidebar */
.side-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
    background-color: #012a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar div > a > img {
    width: 50px;
    height: 50px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logout img {
    transform: rotate(-90deg);
    margin-bottom: 10px;
}
/* home page */
.home-container {
    color: #03045e;
    display: flex;
    gap: 5%;
}
.home-container > div > h2 {
    font-size: 30px;
}
ul > li {
    text-align: left;
    font-size: 20px;
}
/* config page */
.comp-container {
    position: absolute;
    left: 7%;
    top: 10%;
    color: #03045e;
}
.comp-container .os {
    position: relative;
    height: 80vh;
    left: 0;
}
table {
    width: 40vw;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
    border-right: 2px solid #001d3d;
    background-color: #55608f;
}

tbody tr {
    background-color: #7485cf;
    text-align: left;
}
td {
    border-right: 2px solid #001d3d;
}
tr:hover {
    background-color: #cdcdcd;
}
td:hover {
    color: #001d3d;
    background-color: #cdcdcd46;
}
/* dashboard */
.dashboard-container {
    position: absolute;
    left: 7%;
    top: 7%;
    color: #012a4a;
}
.dashboard-container .top-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50vw;
    justify-content: space-around;
}
.top-cards .box {
    padding: 5px 15px;
    width: 25%;
    border-radius: 7px;
    border: 2px solid #480ca8;
}
.top-cards :hover {
    transition: 5ms;
    background-color: #7209b7;
    color: #e0b1cb;
}
