/* sidebar */
.side-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
    background-color: #012a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar div > a > img {
    width: 50px;
    height: 50px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logout img {
    transform: rotate(-90deg);
    margin-bottom: 10px;
}
/* home page */
.home-container {
    color: #03045e;
    display: flex;
    gap: 5%;
}
.home-container > div > h2 {
    font-size: 30px;
}
ul > li {
    text-align: left;
    font-size: 20px;
}
/* config page */
.comp-container {
    position: absolute;
    width: 90vw;
    left: 150px;
    top: 10%;
    display: flex;
    justify-content: space-around;
    color: #03045e;
}
.comp-container h2 {
    position: absolute;
    top: 10px;
}
.comp-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comp-container .os .spec {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
}
.comp-container .os .spec:hover {
    background-color: #012a4a;
    box-shadow: rgba(36, 240, 255, 0.904) 0px 5px 15px;
    border-radius: 4px;
    color: #caf0f8;
}
.spec .label {
    width: 40%;
    font-weight: bold;
}
.spec .detail {
    width: 60%;
}
/* dashboard */
.dashboard-container {
    position: absolute;
    left: 7%;
    top: 7%;
    color: #012a4a;
}
.dashboard-container .top-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50vw;
    justify-content: space-around;
}
.top-cards .box {
    padding: 5px 15px;
    width: 25%;
    border-radius: 7px;
    border: 2px solid #480ca8;
}
.top-cards :hover {
    transition: 5ms;
    background-color: #7209b7;
    color: #e0b1cb;
}
/* steganography */
.steg-container {
    position: absolute;
    left: 7%;
    top: 7%;
    color: #012a4a;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    border: 0.5px solid #480ca8;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    width: 25vw;
    font-size: 20px;
}
.inputs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.steg-file {
    font-size: 15px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #03045e;
    color: #caf0f8;
}
